@use 'header';
@use 'hero';
@use 'sobre';
@use 'personagens';
@use 'rodape';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: 500;
}

body {
    font-family: "IM Fell English SC", sans-serif;
    overflow-x: hidden;
}